# Ignore everything
*

# But not the assets/scripts directory
!/Assets/
!/Assets/Scripts/
!/Assets/Scripts/**

# Explicitly ignore everything else within assets, but not scripts
/Assets/**
!/Assets/Scripts/
